{% extends "masterpage.html" %}
{% load static %} 
{% block body %}
<div class="about">
    <div class="container-fluid mt-5">
     <div class="row">
       <div class="col-md-5 col-lg-5 video-box">
            <iframe width="400" height="400" src="https://www.youtube.com/embed/xPPLbEFbCAo?si=s17Gbr1W8DLtaTL2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" ></iframe>
         <!-- <video class="aboutvid"
         width="400"
         height="280"
         preload="none"
         controls
         muted
         src="assets/video/about.mp4"
       ></video> -->
     </div>
     <div class="col-md-7 col-lg-7 aboutcont">
 
             <h3 class="text-center">Experience Our Heritage</h3>
              <br>
             Step into the realm of culinary excellence
             
             with Sapordine,where our passion for flavor 
             
             meets the power of innovation.From the first 
             
             tantalizing bite to the last lingering taste, 
             
             experience a symphony of flavors curated just 
             
             for you. With each dish crafted to perfection 
             
             and each moment infused with warmth,Sapordine 
             
             promises more than just a meal – it's a conversation, 
             
             a connection, a journey of delight.Indulge your senses,
             
             ignite your palate, and let the flavors of Sapordine 
             
             leave an unforgettable impression.Discover Sapordine, 
             
             a hidden gem where extraordinary flavors and warm 
             
             hospitality await.Our restaurant offers a feast for 
             
             the senses with its carefully curated menu and inviting atmosphere. 
             
             From savory starters to decadent desserts, each dish 
             
             is a culinary masterpiece crafted with passion and precision. 
 
             Whether you're a food enthusiast or simply seeking a memorable 
             
             dining experience, Sapordine promises to delight your palate 
             
             and leave you craving for more.
         </div>
       </div>
     </div>
   </div>
{% endblock %}